ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

body {
    background-color: #f5f5f5;
}

.container {
    background-color: #fff;
}

@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
    }
}

header {
    padding: 0 !important;
}

.nav {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}

.nav a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    font-size: 16px;
}

.nav a:hover {
    background-color: #fff;
    color: #333;
}

.nav a::before {
    vertical-align: middle;
    padding-right: 5px;
}

.news li {
    float: left;
    width: 25%;
    height: 128px;
    padding-right: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 991px) {
    .nav li {
        float: left;
        width: 20%;
    }

    aside .banner img {
        width: 50%;
    }

}

@media screen and (max-width: 767px) {
    .nav li a {
        font-size: 14px;
        padding-left: 15px;
    }

    .news li:nth-child(1) {
        width: 100% !important;
    }

    .news li:nth-child(n+2) {
        width: 50% !important;
    }

    aside .banner img {
        width: 75%;
    }
}

article h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.banner img {
    width: 100%;
}